<nav class="navbar">
  <a href="/alarma" class="title">Timemaster </a>
  <div id="navbarNav">
    <ul class="navItems">
      <li>
        <a aria-current="page" href="/cronometro">cronometro</a>
      </li>
      <li>
        <a aria-current="page" href="/temporizador">temporizador</a>
      </li>
      <li>
        <a aria-current="page" href="/pomodoro">pomodoro</a>
      </li>
      <li>
        <a aria-current="page" href="/alarma">alarma</a>
      </li>
      <li>
        <a aria-current="page" href="{{ url_for('usuarios.logout')}}">logout</a>
      </li>
    </ul>
  </div>
</nav>
