{% extends "layout.html" %} {% block title %}Update Alarma{% endblock %} {%
block body %}
<div class="container-update-form">
  <h1 class="title">Update Alarma</h1>
  <form
    method="POST"
    action="{{ url_for('alarma.update', id=alarma.id_alarma) }}"
  >
    <div>
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        value="{{ alarma.nombre }}"
        required
      />
    </div>
    <div>
      <label for="hora_inicio">Hora de inicio:</label>
      <input
        type="time"
        id="hora_inicio"
        name="hora_inicio"
        value="{{ alarma.hora_inicio }}"
        required
      />
    </div>
    <div>
      <label for="estado">Estado:</label>
      <select id="estado" name="estado" required>
        <option value="true" {% if alarma.estado %}selected{% endif %}>
          Activa
        </option>
        <option value="false" {% if not alarma.estado %}selected{% endif %}>
          Inactiva
        </option>
      </select>
    </div>
    {% if csrf_enabled %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% endif %}
    <button type="submit" class="button">Actualizar</button>
  </form>
</div>
{% endblock %}
